html {
  height: 100%;
  background: linear-gradient(#8075FF, #6320EE);
}

body {
  display: flex;
  justify-content: center;
  margin: 5rem;
  padding: 0;
}


@media (max-width: 30rem) {
  body {
    margin: 2rem 0;
  }
}